@import 'tailwindcss';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button,
  a[role='button'] {
    cursor: pointer;
  }

  button:not(:disabled):hover {
    opacity: 0.9;
  }

  button:not(:disabled):active {
    transform: scale(0.97);
  }
}
