# compiled output
/dist
/build
/node_modules
*.tsbuildinfo

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.development
.env.production

# coverage
/coverage

# temp
.temp
.tmp

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db